{{template "template" .}}

{{define "title"}}
<title>{{.Name}}</title>
{{end}}

{{define "content"}}
<div class="container">
    <p class="display-3 d-flex justify-content-center"> {{.Name}} </p><br>
    <img class="rounded mx-auto d-block d-flex justify-content-center" src="{{.Image}}" alt="{{.Name}} Image">
    <br><br>
    <p><strong>Members: </strong></p>
    <ul>
        {{ range .Members }}
            <li>{{ . }}</li>
        {{ end }}
    </ul>
    <hr>
    <p><strong>Creation Date: </strong>{{.CreationDate}}</p><hr>
    <p><strong>First Album: </strong> {{.FirstAlbum}}</p><hr>
    <p><strong>Concerts: </strong></p>
        
    <ul class="list-group list-group-flush">
        {{range .LocationsData}}
            <li class="list-group-item">{{.Location}}:<br> <span class="text-secondary">{{.Date}}</span> </li>
            <br>
        {{end}}
    </ul>
</div>

<a href="http://localhost:8090/" class="btn btn-secondary btn-lg">Back</a>

{{end}}
