{{template "template" .}}

{{define "title"}}
<title>Groupie Tracker Home</title>
{{end}}



{{define "content"}}

<div class="container">
    <div class="row row-cols-1 row-cols-md-6 g-4">
        {{range .}}
        <div class="col">
            <a href="/details?id={{.ID}}">
                <div class="card h-100 card-hover">
                    <img class="card-img-top" src="{{.Image}}" alt="{{.Name}} Image">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">{{.Name}}</h5>
                    </div>
                </div>
            </a>
        </div>
        {{end}}
    </div>
</div>



<!-- <ul>
    {{range .}}
    <li>
        <img src="{{.Image}}" alt="{{.Name}} Image">
        <h2>{{.Name}}</h2>
        <p>Members: {{range .Members}}{{.}}, {{end}}</p>
        <p>Creation Date: {{.CreationDate}}</p>
        <p>First Album: {{.FirstAlbum}}</p>
        <p>Locations: {{.Locations}}</p>
        <p>Concert Dates: {{.ConcertDates}}</p>
        <p>Relations: {{.Relations}}</p>
    </li>
    {{end}}
</ul> -->


{{end}}