{{template "template" .}}

{{define "title"}}
<title>Groupie Tracker Home</title>
{{end}}



{{define "content"}}

<div class="container">
    <div class="row row-cols-1 row-cols-md-6 g-4">
        {{range .}}
        <div class="col">
            <a href="/details?id={{.ID}}">
                <div class="card h-100 card-hover">
                    <img class="card-img-top" src="{{.Image}}" alt="{{.Name}} Image">
                    <div class="card-body">
                        <h6 class="card-title" style="text-align: center;">{{.Name}}</h6>
                    </div>
                </div>
            </a>
        </div>
        {{end}}
    </div>
</div>


{{end}}